
# app {
  padding: 20px;
  margin: 50px auto 20px;
  width: 300px;
  border-radius: 8px;      
  background: #444;
}

/* Add you own CSS (overwrite bootstrap properties) */

.container {
  font-family: monospace; 
}

.container h4 {
  margin-top: 20px;
}

.content {
  padding: 1px 5px;
  margin: 30px 0px 1px;
}

.nav {
  margin-bottom: -2px;
}

.toolbar {
  margin: 10px 0 15px;
}

header {
  border-bottom: 1px solid #ccc;
	padding: 1px 5px;
}

header small {
  font-size: 0.5em;
}

footer {
  border-top: 1px solid #ccc;
	padding: 1px 5px;
	margin-top: 20px;
}

article,
.article {
  border-bottom: 1px solid #ccc;
	padding: 20px 5px;
	margin-top: 10px;
}

.toolbar button a,
.toolbar button a:hover,
.toolbar button a:link {
  color: #FFF;
  text-decoration: none;
}

