
# app {
  padding: 20px;
  margin: 50px auto 20px;
  width: 300px;
  border-radius: 8px;      
  background: #444;
}

/* Add you own CSS (overwrite bootstrap properties) */

.pull-right {
  float: right;
}

.container {
  font-family: monospace; 
}

.container h4 {
  margin-top: 20px;
}

.content {
  padding: 1px 5px;
  margin: 30px 0px 1px;
}

.nav {
  margin-bottom: -2px;
}

.toolbar {
  margin: 10px 0 15px;
}

header {
  border-bottom: 1px solid #ccc;
	padding: 1px 5px;
}

header small {
  font-size: 0.5em;
}

footer {
  border-top: 1px solid #ccc;
	padding: 1px 5px;
	margin-top: 20px;
}

article,
.article {
  opacity: 1;
  border-bottom: 1px solid #ccc;
	padding: 20px 5px;
	margin-top: 10px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
          animation: fadein 2s;
}

.toolbar button a,
.toolbar button a:hover,
.toolbar button a:link {
  color: #FFF;
  text-decoration: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}